# RaioFlix
RAIOFLIX_BASE_URL=http://raioflix.sigmab.pro
RAIOFLIX_PROXY=http://5.161.155.252:80
# Relay Cloudflare - configure no Cloudflare Workers
# RAIOFLIX_RELAY=https://raioflix-relay.seu-usuario.workers.dev
RAIOFLIX_USERNAME=JoaoReven
RAIOFLIX_PASSWORD=Canaisip123@

# ServeX
SERVEX_BASE_URL=https://servex.ws
SERVEX_API_KEY=sua_api_key_aqui
SERVEX_CATEGORY_ID=200

# Server
PAINEL_PORT=3480

# JWT - MUDE EM PRODUÇÃO!
JWT_SECRET=sua_chave_secreta_muito_segura
