# RaioFlix
RAIOFLIX_BASE_URL=http://raioflix.sigmab.pro
RAIOFLIX_PROXY=http://5.161.155.252:80
RAIOFLIX_USERNAME=JoaoReven
RAIOFLIX_PASSWORD=Canaisip123@

# ServeX
SERVEX_BASE_URL=https://servex.ws
SERVEX_API_KEY=sx_6a099e6d4486891b9fe723acdb7cc70cf2074e214623933a30b968332c0b36da
SERVEX_CATEGORY_ID=200

# Server
PORT=3478
