# RaioFlix
RAIOFLIX_BASE_URL=http://raioflix.sigmab.pro
# Proxy ScraperAPI (grátis 1000 req/mês)
RAIOFLIX_PROXY=http://scraperapi:SUA_API_KEY@proxy-server.scraperapi.com:8001
RAIOFLIX_USERNAME=JoaoReven
RAIOFLIX_PASSWORD=Canaisip123@

# ServeX
SERVEX_BASE_URL=https://servex.ws
SERVEX_API_KEY=sua_api_key_aqui
SERVEX_CATEGORY_ID=200

# Server
PAINEL_PORT=3480

# JWT - MUDE EM PRODUÇÃO!
JWT_SECRET=sua_chave_secreta_muito_segura
